<nav class="navbar navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <img
      src="/images/MercuryLogo.png"
      alt="Mercury Logo"
      class="navbar-brand logo"
    />
    {{! need variables. insert server name/ table name here}}
    <div class="d-flex">
      <p class="current-server-table navbar-text">
        Server Name | Table Name &emsp;
      </p>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasDarkNavbar"
        aria-controls="offcanvasDarkNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>

    <div
      class="offcanvas offcanvas-end text-bg-dark"
      tabindex="-1"
      id="offcanvasDarkNavbar"
      aria-labelledby="offcanvasDarkNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Mercury POS</h5>
        <button
          type="button"
          class="btn-close btn-close-white"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          {{! <li class="nav-item">
            <a class="nav-link" href="#"><p class="settings-item">Take Lunch</p></a>
          </li> }}
          {{! check to see if user isAdmin = true }}
          <li class="nav-item">
            <a class="nav-link" href="/settings"><p
                class="settings-item"
              >Account Settings</p></a>
          </li>
          {{#if sesh.isAdmin}}
            <li class="nav-item">
              <a class="nav-link" href="/pos/admin"><p class="settings-item">POS
                  Admin</p></a>
            </li>
          {{/if}}
          {{#if sesh.currentEmployee}}
            <li class="nav-item">
              <a class="nav-link" href="/pos/logout"><p
                  class="settings-item"
                >Employee Logout</p></a>
            </li>
          {{/if}}
          <li class="nav-item">
            <a class="nav-link" href="/logout"><p class="settings-item">Merchant
                Logout</p></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>