{{> header}}
<section class="main container-fluid text-center">
  <div id="header_nav" class="row">
    <div class="col-2 btn nav-btn btn-secondary">Back</div>
    <h1 class="col text-center">Settings</h1>
    <div class="col-2 btn nav-btn btn-secondary">Customize</div>
  </div>
  <div id="contentWrap" class="row">
    <!-- SIDEBAR BUTTONS -->
    <div id="sidebar" class="col-4">
      <!-- EDIT EMPLOYEES button -->
      <div id="editEmployees" type="button" class="btn action-btn btn-light">
        Edit Employees
      </div>
      <!-- EDIT MENU button -->
      <div id="editMenu" type="button" class="btn action-btn btn-light">
        Edit Menu
      </div>
      <!-- VIEW ORDERS button -->
      <div id="viewOrders" type="button" class="btn action-btn btn-light">
        View Orders
      </div>
    </div>
    <!-- DISPLAY -->
    <div id="sidebarDisplay" class="col-8">

      <!-- EMPLOYEES wrap -->
      <div id="employeesWrap" class="hide">
        <div id="employeeButtonsWrap">
          <div
            id="addNewEmployeeBtn"
            type="button"
            class="btn btn-success display-action-btn"
          >
            Add a New Employee
          </div>
          <div id="updateEmployeeBtn" type="button" class="btn btn-primary display-action-btn">
            Update an Employee
          </div>
          <div
            id="removeEmployeeBtn"
            type="button"
            class="btn btn-danger display-action-btn"
          >
            Remove an Employee
          </div>
        </div>
        {{! [NEW EMPLOYEE] form}}
        <div id="newEmployeeFormWrap" class="hide">
          <form id="newEmployeeForm" class="formStyle text-start">
            <div id="hideEmployeeFormsButton" class="btn btn-warning">Hide Form</div>
            {{! [NEW EMPLOYEE] name }}
            <label for="employeeNameInput">Name:</label><br />
            <input
              type="text"
              id="employeeNameInput"
              name="employeeNameInput"
            />
            <br />
            {{! [NEW EMPLOYEE] email }}
            <label for="employeeEmailInput">e-mail:</label><br />
            <input
              type="email"
              id="employeeEmailInput"
              name="employeeEmailInput"
            />
            <br />
            {{! [NEW EMPLOYEE] Manager ? }}
            <br />
            <div>Manager:
                <select id = "employeeIsManagerIn"class="form-select" aria-label="type">
                  <option selected>Is Manager?</option>
                  <option value="true">yes</option>
                  <option value="false">no</option>
                </select>
            <br />
            </div>Role:
            {{! [NEW EMPLOYEE] Role }}
            <select id = "employeeRoleIn"class="form-select" aria-label="type">
              <option selected>Role</option>
              <option value="Team Lead">Team Lead</option>
              <option value="Host">Host</option>
              <option value="Waiter">Waiter</option>
              <option value="Stove Master">Stove Master</option>
              <option value="Salad Juggler">Salad Juggler</option>
              <option value="Frying Oil Dipper">Frying Oil Dipper</option>
              <option value="Janitor">Janitor</option>
            </select>
            {{! [NEW EMPLOYEE] Submit Button }}
            <br />
            <br />
            <input id="newEmployeeSubmitBtn"
              type="submit"
              class="btn btn-success"
              value="Add a New Employee"
            />
          </form>
        </div>
        {{! [UPDATE EMPLOYEE] form}}
        <div id="updateEmployeeFormWrap" class="hide">
          <form id="updateEmployeeForm" class="formStyle text-start">
            <div id="hideEmployeeFormsButton" class="btn btn-warning">Hide Form</div>
            <label for="updateEmployeeIdInput">Enter Employee ID you wish to update:</label>
            <br />

            <input
              type="number"
              id="updateEmployeeIdInput"
              name="updateEmployeeIdInput"
            />
            <br />

            {{! [UPDATE EMPLOYEE] name }}
            <label for="employeeNameUpdateInput">Name:</label><br />
            <input
              type="text"
              id="employeeNameUpdateInput"
              name="employeeNameUpdateInput"
            />
            <br />
            {{! [UPDATE EMPLOYEE] email }}
            <label for="employeeEmailUpdateInput">e-mail:</label><br />
            <input
              type="email"
              id="employeeEmailUpdateInput"
              name="employeeEmailUpdateInput"
            />
            <br />
            {{! [UPDATE EMPLOYEE] Manager ? }}
            <br />
            <div>Is Manager?:
                <select id = "employeeIsManagerUpdateIn"class="form-select" aria-label="type">
                  <option selected>Is Manager?</option>
                  <option value="true">yes</option>
                  <option value="false">no</option>
                </select>
            <br />
            </div>Role:
            {{! [UPDATE EMPLOYEE] Role }}
            <select id = "employeeRoleUpdateIn"class="form-select" aria-label="type">
              <option selected>Role</option>
              <option value="Team Lead">Team Lead</option>
              <option value="Host">Host</option>
              <option value="Waiter">Waiter</option>
              <option value="Stove Master">Stove Master</option>
              <option value="Salad Juggler">Salad Juggler</option>
              <option value="Frying Oil Dipper">Frying Oil Dipper</option>
              <option value="Janitor">Janitor</option>
            </select>
            {{! [NEW EMPLOYEE] Submit Button }}
            <br />
            <br />
            <input id="updateEmployeeSubmitBtn"
              type="submit"
              class="btn btn-success"
              value="Update an Employee"
            />
          </form>
        </div>
        {{! [REMOVE EMPLOYEE] form }}
        <div id="removeEmployeeFormWrap" class="hide">
          <form id="removeEmployeeForm" class="formStyle text-start">
            {{! ----[REMOVE] input }}
            <label for="removeEmployeeIdInput">Enter Employee ID to remove them
              from the Database</label>
            <br />
            <br />
            <input
              type="number"
              id="removeEmployeeIdInput"
              name="removeEmployeeIdInput"
            />
            <input type="submit" class="btn btn-danger" value="Remove" />
            <br />
            <div id="hideRemoveEmployeeFormButton" class="btn btn-warning">Hide
              Form</div>
          </form>
        </div>
        {{! employee table headers }}
        <table style="width:100%; text-align:start">
          <tr>
            <th style="width: 7%">ID</th>
            <th style="width: 10%">Login</th>
            <th style="width: 33%">Name</th>
            <th style="width: 25%">Role</th>
            <th style="width: 25%">E-mail</th>
          </tr>
        </table>
        <div id="employeeTableWrap"></div>
      </div>

      <!-- MENU wrap -->
      <div id="menuWrap" class="hide">
        {{!-- Action Buttons for Menu Items --}}
        <div id="menuButtonsWrap">
          <div
            id="addNewItemBtn"
            type="button"
            class="btn btn-success display-action-btn"
          >Add a New Item</div>
          <div type="button" class="btn btn-primary display-action-btn">Update
            an Item</div>
          <div type="button" class="btn btn-danger display-action-btn">Remove an
            Item</div>
        </div>

        {{! [NEW ITEM] form}}
        <div id="newItemFormWrap" class="hide">
          <form id="newItemForm" class="formStyle text-start">
            <div id="hideMenuFormsButton" class="btn btn-warning">Hide Form</div>
            {{! [NEW ITEM] name }}
            <label for="itemNameInput">Name:</label><br />
            <input type="text" id="itemNameInput" name="itemNameInput" />
            <br />
            {{! [NEW ITEM] price }}
            <br />
            <label for="itemPriceInput">Price:</label><br />
            <input type="number" id="itemPriceInput" name="itemPriceInput" />
            <br />
            {{! [NEW ITEM] description }}
            <br />
            <label for="itemDescriptionInput">Description:</label><br />
            <input
              type="text"
              id="itemDescriptionInput"
              name="itemDescriptionInput"
            />
            <br />
            {{! [NEW ITEM] Availability }}
            <br />
            <div>Available:
              {{! YES }}
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="answer"
                  id="yesAnswer"
                />
                <label class="form-check-label" for="yesAnswer">
                  Yes
                </label>
              </div>
              {{! NO }}
              <div class="form-check">
                <input
                  class="form-check-input"
                  type="radio"
                  name="answer"
                  id="noAnswer"
                />
                <label class="form-check-label" for="noAnswer">
                  No
                </label>
              </div>
            </div>

            {{! [NEW ITEM] Type }}
            <br />
            <select class="form-select" aria-label="type">
              <option selected>Type</option>
              <option value="1">Food</option>
              <option value="2">Drink</option>
              <option value="3">Merchendise</option>
              <option value="4">Gift</option>
            </select>

            {{! [NEW ITEM] Sub-Type }}
            <br />
            <select class="form-select" aria-label="sub-type">
              <option selected>Sub-Type</option>
              <option value="1">Main Course</option>
              <option value="2">Appetizer</option>
              <option value="3">Alcoholic</option>
              <option value="4">Non-Alcoholic</option>
              <option value="5">Hat</option>
              <option value="6">Shirt</option>
              <option value="7">Card</option>
              <option value="8">Certificate</option>
            </select>

            {{! [NEW ITEM] Image URL }}
            <br />
            <label for="imageURL">Image URL:</label><br />
            <input type="url" id="imageURL" name="imageURL" />

            {{! [NEW ITEM] Submit Button }}
            <br />
            <br />
            <input
              type="submit"
              class="btn btn-success"
              value="Create a New Item"
            />
          </form>
        </div>
        {{! menu item table headers }}
        <table style="width:100%; text-align:start">
          <tr>
            <th style="width: 10%">ID</th>
            <th style="width: 40%">Name</th>
            <th style="width: 25%">Type</th>
            <th style="width: 25%">Available</th>
          </tr>
        </table>
        <div id="menuTableWrap">
        </div>
      </div>
      <!-- ORDERS wrap -->
      <div id="ordersWrap" class="hide">
        <div id="ordersButtonsWrap">
          <div type="button" class="btn btn-success display-action-btn">Add a
            New Order</div>
          <div type="button" class="btn btn-primary display-action-btn">Update
            an Order</div>
          <div type="button" class="btn btn-danger display-action-btn">Remove an
            Order</div>
        </div>
        <div id="ordersTableWrap"></div>
      </div>
    </div>
  </div>
  <nav id="footer_nav" class="row">
    <div class="col">MERCURY POS</div>
  </nav>
</section>
<script src="/js/admin.js"></script>