<div class="reg-page">
  <section class="h-100 bg-dark reg-form">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col">
          <div class="card card-registration my-4">
            <div>
              <h1 class="m-3 text-uppercase text-center">
                Mercury POS registration form
              </h1>
              <div class="row g-0">
                <div class="col-xl-6 d-none d-xl-block sample-img-container">
                  <img
                    src="/images/POSsample.PNG"
                    alt="Sample photo"
                    class="img-fluid"
                    style="
                            border-top-left-radius: 0.25rem;
                            border-bottom-left-radius: 0.25rem;"
                  />
                </div>
                <div class="col-xl-6">
                  <div id="signupForm" class="card-body p-md-5 text-black">
                    <div class="row justify-content-between">
                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="company_name">
                            Company Name
                          </label>
                          <input
                            type="text"
                            id="company_name"
                            class="form-control form-control-lg"
                          />
                        </div>
                      </div>

                      <div class="col-md-6 mb-4">
                        <div class="form-outline">
                          <label class="form-label" for="username">
                            Username
                          </label>
                          <input
                            type="text"
                            id="username"
                            class="form-control form-control-lg"
                          />
                        </div>
                      </div>
                    </div>

                    <div class="form-outline mb-4">
                      <label class="form-label" for="address">Address</label>
                      <input
                        type="text"
                        id="address"
                        class="form-control form-control-lg"
                      />
                    </div>

                    <div class="row">
                      <div class="form-outline col-md-6 mb-4">
                        <label class="form-label" for="city">City</label>
                        <input
                          type="text"
                          id="city"
                          class="form-control form-control-lg"
                        />
                      </div>

                      <div class="col-md-6 mb-4">
                        <p>State</p>
                        <select id="state" class="select">
                          <option value="Alabama">Alabama</option>
                          <option value="Alaska">Alaska</option>
                          <option value="Arizona">Arizona</option>
                          <option value="Arkansas">Arkansas</option>
                          <option value="California">California</option>
                          <option value="Colorado">Colorado</option>
                          <option value="Connecticut">Connecticut</option>
                          <option value="Delaware">Delaware</option>
                          <option value="Florida">Florida</option>
                          <option value="Georgia">Georgia</option>
                          <option value="Hawaii">Hawaii</option>
                          <option value="Idaho">Idaho</option>
                          <option value="Illinois">Illinois</option>
                          <option value="Indiana">Indiana</option>
                          <option value="Iowa">Iowa</option>
                          <option value="Kansas">Kansas</option>
                          <option value="Kentucky">Kentucky</option>
                          <option value="Louisiana">Louisiana</option>
                          <option value="Maine">Maine</option>
                          <option value="Maryland">Maryland</option>
                          <option value="Massachusetts">Massachusetts</option>
                          <option value="Michigan">Michigan</option>
                          <option value="Minnesota">Minnesota</option>
                          <option value="Mississippi">Mississippi</option>
                          <option value="Missouri">Missouri</option>
                          <option value="Montana">Montana</option>
                          <option value="Nebraska">Nebraska</option>
                          <option value="Nevada">Nevada</option>
                          <option value="New Hampshire">New Hampshire</option>
                          <option value="New Jersey">New Jersey</option>
                          <option value="New Mexico">New Mexico</option>
                          <option value="New York">New York</option>
                          <option value="North Carolina">North Carolina</option>
                          <option value="North Dakota">North Dakota</option>
                          <option value="Ohio">Ohio</option>
                          <option value="Oklahoma">Oklahoma</option>
                          <option value="Oregon">Oregon</option>
                          <option value="Pennsylvania">Pennsylvania</option>
                          <option value="Rhode Island">Rhode Island</option>
                          <option value="South Carolina">South Carolina</option>
                          <option value="South Dakota">South Dakota</option>
                          <option value="Tennessee">Tennessee</option>
                          <option value="Texas">Texas</option>
                          <option value="Utah">Utah</option>
                          <option value="Vermont">Vermont</option>
                          <option value="Virginia">Virginia</option>
                          <option value="Washington">Washington</option>
                          <option value="West Virginia">West Virginia</option>
                          <option value="Wisconsin">Wisconsin</option>
                          <option value="Wyoming">Wyoming</option>
                        </select>
                      </div>

                    </div>

                    <div class="row">
                      <div class="form-outline col-md-6 mb-4">
                        <label class="form-label" for="zipcode">Zipcode</label>
                        <input
                          type="text"
                          id="zipcode"
                          class="form-control form-control-lg"
                        />
                      </div>

                      <div class="form-outline col-md-6 mb-4">
                        <label class="form-label" for="phone">Phone Number</label>
                        <input
                          type="tel"
                          id="phone"
                          class="form-control form-control-lg"
                        />
                      </div>
                    </div>

                    <div class="form-outline mb-4">
                      <label
                        class="form-label"
                        for="merchant_email"
                      >Email</label>
                      <input
                        type="email"
                        id="merchant_email"
                        class="form-control form-control-lg"
                      />
                    </div>

                    <div class="form-outline mb-4">
                      <label
                        class="form-label"
                        for="merchant_password"
                      >Password</label>
                      <input
                        type="password"
                        id="merchant_password"
                        class="form-control form-control-lg"
                      />
                    </div>

                    <div
                      class="d-flex justify-content-between pt-3 signup-submit"
                    >
                      <button
                        id="submitBtn"
                        type="submit"
                        class="btn btn-warning btn-lg ms-2"
                      >
                        Submit Form
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<script src="/js/merchantSignUp.js"></script>