<header>Tables</header>
<div class="container">
  <div class="row1 d-flex justify-content-evenly">
    <button id="1" class="button">Table 1</button>
    <button id="2" class="button">Table 2</button>
    <button id="3" class="button">Table 3</button>
  </div>
  <div class="row2 d-flex justify-content-evenly">
    <button id="3" class="button">Table 2</button>
    <button id="4" class="button">Table 3</button>
    <button id="5" class="button">Table 4</button>
  </div>
  <div class="row3 d-flex justify-content-evenly">
    <button id="6" class="button">Table 5</button>
    <button id="7" class="button">Table 6</button>
    <button id="8" class="button">Table 7</button>
  </div>
</div>

<div>
  <h2 class="barHeader baseline"> Bar </h2>
</div>

<div class="barRow d-flex justify-content-evenly">
  <button id="1001" class="button">Seat 1</button>
  <button id="1002" class="button">Seat 2</button>
  <button id="1003" class="button">Seat 3</button>
  <button id="1004" class="button">Seat 4</button>
  <button id="1005" class="button">Seat 5</button>
</div>

<div class="adminBtn">
  <button
    id="adminBtn"
    type="button"
    class="btn btn-primary justify-content-end"
  >Admin Settings</button>

</div>
<script src="/js/tableMap.js"></script>