<div class="row">
  <div class="col-9">
    <header>Tables</header>
    <div id="tables" class="container">
      <div class="row1 d-flex justify-content-evenly">
        <button id="1" class="button">Table 1</button>
        <button id="2" class="button">Table 2</button>
        <button id="3" class="button">Table 3</button>
      </div>
      <div class="row2 d-flex justify-content-evenly">
        <button id="4" class="button">Table 4</button>
        <button id="5" class="button">Table 5</button>
        <button id="6" class="button">Table 6</button>
      </div>
      <div class="row3 d-flex justify-content-evenly">
        <button id="7" class="button">Table 7</button>
        <button id="8" class="button">Table 8</button>
        <button id="9" class="button">Table 9</button>
      </div>
    </div>
  </div>
  <div class="col-3">
    <header>Bar</header>
    <div class="container">
      <div class="row1 d-flex justify-content-evenly">
        <ul id="bar" class="justify-content-center list-unstyled">
          {{#each tabs as |tab|}}
            <li id="">{{tab.tab_name}}</li>
          {{/each}}
        </ul>
      </div>
      <div class="row1 d-flex justify-content-evenly">
        <div id="barAdd" class="justify-content-center">

          <div id="newBarTabForm" style="display:none;">
            <form>
              <div class="form-outline form-white mb-4">
                <input
                  type="text"
                  id="tabName"
                  class="form-control form-control-lg"
                />
                <label class="form-label" for="tabName">Name</label>
              </div>
              <button
                id="createTab"
                class="btn btn-outline-light btn-lg px-5"
                type="submit"
              >
                Create
              </button>
            </form>
          </div>
          <button id="barAddBtn">Add Bar Tab</button>
        </div>
      </div>
    </div>
  </div>

</div>
{{! <div class="barRow d-flex justify-content-evenly">
  <button id="1001" class="button">Seat 1</button>
  <button id="1002" class="button">Seat 2</button>
  <button id="1003" class="button">Seat 3</button>
  <button id="1004" class="button">Seat 4</button>
  <button id="1005" class="button">Seat 5</button>
</div> }}

<div class="adminBtn">
  <a
    id="adminBtn"
    class="btn btn-primary justify-content-end"
    href="/pos/admin"
  >Admin Settings</a>

</div>
<script src="/js/tableMap.js"></script>