.header {
    text-align: center;
    margin-top: 10px;
}

.items {
    padding: 10px;
    text-align: center;
    margin-top: 4rem;
    margin-left: 40px;

}

.payBtn {
margin-top: 4rem;
}

.itemsh1 {
    border: 3px solid black;
    border-width: 1px;
    border-radius: 10px;
    padding: 4px;

}

.container {
margin-top: 10rem;

}