.current-server-table {
  font-size: 1.5rem;
}

.logo {
  max-width: 100px;
  max-height: auto;
  border-radius: 7px;
}

.settings-item {
  font-size: 1.5rem;
}

.sample-img-container {
  align-self: center;
}

.signup-submit {
  align-items: baseline;
}

#offcanvasDarkNavbar {
  max-width: 20%;
}

#offcanvasDarkNavbarLabel {
  font-size: 2.5rem;
}

/* Merchant + User login CSS */
.gradient-custom {
  /* fallback for old browsers */
  background: rgba(217, 104, 109, 1);

  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-linear-gradient(
    to right,
    rgba(217, 104, 109, 1),
    rgba(249, 171, 140, 1)
  );

  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background: linear-gradient(
    to right,
    rgba(217, 104, 109, 1),
    rgba(249, 171, 140, 1)
  );
}
/* End of login CSS */

/* START Admin Page CSS*/
.main {
  background-color: #6c757d;
  height: 100vh;
}

#header_nav {
  background-color: whitesmoke;
  margin-bottom: 30px;
}

#contentWrap {
  width: 100%;
}

#sidebarDisplay {
  background-color: lightgray;
  border: 2px solid whitesmoke;
}

#footer_nav {
  bottom: 0;
  position: fixed;
  width: 100%;
  background-color: whitesmoke;
  padding: 10px;
}

.nav-btn {
  margin: 5px;
}

.action-btn {
  height: 100px;
  width: 200px;
  line-height: 85px;
  margin-top: 10px;
  margin-bottom: 10px;
  justify-content: center;
}

/* END Admin Page CSS */

/* Start of tables css*/
header {
  font-size: 3rem;
  text-align: center;
  background-color: rgb(4, 133, 165);
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  margin-top: 10px;
}

.button {
  background: #0f78ba;
  background-image: -webkit-linear-gradient(top, #0f78ba, #0f78ba);
  background-image: -moz-linear-gradient(top, #0f78ba, #0f78ba);
  background-image: -ms-linear-gradient(top, #0f78ba, #0f78ba);
  background-image: -o-linear-gradient(top, #0f78ba, #0f78ba);
  background-image: linear-gradient(to bottom, #0f78ba, #0f78ba);
  -webkit-border-radius: 38;
  -moz-border-radius: 38;
  border-radius: 38px;
  -webkit-box-shadow: 7px 6px 7px #666666;
  -moz-box-shadow: 7px 6px 7px #666666;
  box-shadow: 7px 6px 7px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  border: solid #0f78ba 10px;
  text-decoration: none;
}

.button:hover {
  background: #ed0c6a;
  text-decoration: none;
}

.row1 {
  margin-top: 40px;
}

.row2 {
  margin-top: 80px;
}

.row3 {
  margin-top: 80px;
}

#adminBtn {
  margin-top: 5rem;
  margin-right: 90px;
  float: right;
}

.barHeader {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
  background-color: rgb(4, 133, 165);
  padding: 10px;
  margin-left: 100px;
  margin-right: 100px;
  font-size: 3rem;
}

.barRow {
  margin-top: 30px;
  padding: 4px;
  padding-left: 30px;
  padding-right: 30px;
}
